<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>部门管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-datetimepicker.css}" />

<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonSort.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonPage.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/app/validation/jquery.validate.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>

<script type="text/javascript">
 	function query(){
 		var path = basePath+"/stat/albumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path).submit();
 	}
 	
 	function resetAction(){
 		var path = basePath+"/stat/albumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path);
 	}
 	
 	function confirmDelete(){
 		var r=confirm("确定要删除该条记录吗？")
 		   
 	}
 	
 	function showAddModal(flag){ 
		var len=$('input:checked').length;
		$("#dvmodal-body").html("").load(basePath+"/server/addDivisionInit.html?rn="+Math.random(), function() {
				$('#inputDialog').modal('show'); 
		});
	}
 	
 	function query(){
 		if($("#cbtable").prop('checked')==true){
 			$("#tbdata").show();
 			$("#statisticimg").hide();
 		}
 		if($("#cbimage").prop('checked')==true){
 			$("#tbdata").hide();
 			$("#statisticimg").show();
 		}
 		
 	}
  
</script>
</head>
<body>
	<div class="container-fluid">
		<form id="orderByForm"   method="post">
			<input type="hidden" id="orderByStr" name="orderByStr"   th:value="${orderBy}"/>
			<div class="row" id="qry" style="margin-right:15px;">
			<div  class="col-xs-12" style="padding:10px;border:solid 1px #cccccc;margin:15px 15px;padding:10px 10px">
		 	<div class="col-xs-4" style="width:250px">
		 			<label>维修项目</label>
		 			<select>
		 				<option>木地板</option>
		 				<option>木门</option>
		 				<option>壁纸</option>
		 			</select>
		 		</div>
		 	<div class="col-xs-4" style="width:200px">
		 			<label>开始时间:</label>
		 			<input name="name" class="input-append date" readonly="true" id="startTime" size="10" />
		 		</div>
		 		<div class="col-xs-4" style="width:200px">
		 			<label>结束时间:</label>
		 			<input name="name" class="input-append date" readonly="true" id="endTime" size="10" />
		 		</div>
		 		 <div class="col-xs-4" style="width:250px">
		 			<label>展示方式</label>
		 			<input type="checkbox"  name="cbox" id="cbtable"/>表格&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 			<input type="checkbox"   name="cbox"  id="cbimage"/>图形
		 		</div>
		 		
		 		<div class="col-xs-2">
		 			<button type="button" class="btn btn-primary" onclick="query()"  name="btnQuery" id="btnQuery"  >查询</button
					<button type="button" class="btn btn-primary" onclick="query()"  name="btnQuery" id="btnQuery"  >导出</button> 
		 		</div>	
		 </div>
		 </div>
			<div id="tbdata" style="width:100%;overflow: scroll" >
			<table class="table table-bordered table-striped" style="width:100%">
				<thead>
					<tr>
						<th>区域</th>
						<th>数量</th>
						<th>百分比</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>星悦国际</td>
						<td>5553</td>
						<td>11.2</td>
					</tr>
					<tr>
						<td>林肯公园A区</td>
						<td>5438</td>
						<td>10.9</td>
					</tr>
					<tr>
						<td>林肯公园B区</td>
						<td>4352</td>
						<td>8.9</td>
					</tr>
					<tr>
						<td>林肯公园C区</td>
						<td>4352</td>
						<td>8.9</td>
					</tr>
					<tr>
						<td>君悦国际</td>
						<td>5044</td>
						<td>10.2</td>
					</tr>  
				</tbody>
			</table>
			<div>
				<div style="border:1px solid #fffff">
					 <nav id="tslCommon-Page"  style="float:right">
			  			<input type="hidden" name="currentPageNum" value="1"/>
			  			<input type="hidden" name="totalPageCnt" th:value="5"/>
			  			<input type="hidden" name="totalRecord" th:value="50"/>
					</nav>
				</div> 
			</div>
		</div>
		<div id="statisticimg" style="display:none">
			<img alt="" th:src="@{/app/img/statistic.png}" />
		</div>
	</form>
	
	<div class="modal fade" id="inputDialog" tabindex="-1" role="dialog"  aria-labelledby="inputDialogLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content" style="width:800px">
		         <div class="modal-header">
		            <button type="button" class="close" 
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="inputDialoglLabel">添加/修改部门信息</h4> 
		         </div>
		         <div class="modal-body" id='dvmodal-body'></div>
		         <div style="text-align:center;height:60px">
		            <button type="button" id="submit"  onclick="save()"  class="btn btn-danger fl btn-lg" style="border-radius:0px;width:128px;height:34px;line-height:10px;"> 确定 </button>
		             <button type="button" data-dismiss="modal"
								class="btn btn-lg btn-blue" style="border-radius:0px;width:128px;height:34px;margin-left:25px;line-height:10px;">取消</button>
		         
		         </div>
		      </div>
			</div>
		</div>
		
	</div>
<script th:inline="javascript">
        /*<![CDATA[*/
            $('#startTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false,
                minView:2
            });
        
            $('#endTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            $('#serviceDate').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            
        /*]]>*/
    </script>

</body>
</html>