<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>维修项管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-datetimepicker.css}" />

<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonSort.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonPage.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/app/validation/jquery.validate.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>

<script type="text/javascript">
 	function query(){
 		var path = basePath+"/stat/albumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path).submit();
 	}
 	
 	function resetAction(){
 		var path = basePath+"/stat/albumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path);
 	}
 	
 	function confirmDelete(){
 		var r=confirm("确定要删除该条记录吗？")
 		   
 	}
 	
 	function showAddModal(flag){ 
		var len=$('input:checked').length;
		var userName=$("#userName").val();
		$("#dvmodal-body").html("").load(basePath+"/server/maintainItemAddInit.html?userName="+userName, function() {
				$('#inputDialog').modal('show'); 
		});
	}
 	
 	function queryMaintainItems(){
 		$("#dvmodal-body").html("").load(basePath+"/server/maintainItemAddInit.html?rn="+Math.random(), function() {
			$('#inputDialog').modal('show'); 
	});
 	}
 	
 	function save(){
 		 $.ajax({
	            type: "POST",
	            url: basePath+'/server/maintainItemSave.html',
	            data:$("#aform").serialize(),
	            success: function(data) {
	            	if(data=="S"){
	            		alert('操作成功!'); 
	            	}else{
	            		 alert('操作失败！');
	            	}
	            }
	        }); 
 	}
 	
 	function showProcessLog(){
 		$("#dvmodal-body").html("").load(basePath+"/server/processLog.html", function() {
			$('#inputDialog').modal('show'); 
	});
 	}
</script>
</head>
<body>
	<div class="container-fluid">
		<form id="orderByForm"   method="post">
			<input type="hidden" id="orderByStr" name="orderByStr"   th:value="${orderBy}"/>
			<input type="hidden" id="userName" name="userName"   th:value="${userName}"/>
			
			<div class="row" id="qry" style="margin-right:15px;">
		 	<div  class="col-xs-12" style="padding:10px;border:solid 1px #cccccc;margin:15px 15px;padding:10px 10px">
		 		<div class="col-xs-4" style="width:250px">
		 		<label>维修归类:</label>
		 			 <select  name="maintainType" id="maintainType" style="height:30px;width:120px" >
		 				<option value="1">衣柜</option>
		 				<option value="2">木门</option>
		 				<option value="">木饰面</option>
		 				<option value="">壁纸</option>
		 				<option value="">木地板</option>
		 				<option value="">橱柜</option>
		 				<option value="">精装其他</option>
		 				<option value="">吊顶</option>
		 				<option value="">石材</option>
		 				<option value="">空调</option>
					</select>
		 		</div>
		 		<div class="col-xs-4" style="width:250px">
		 			<label>维修项:</label>
		 			<select  name="maintainType" id="maintainType" style="height:30px;width:120px" >
		 				<option value="1">磕伤、划伤</option>
		 				<option value="2">钉眼未处理</option>
		 				<option value="">起皮、开裂</option>
		 				<option value="">柜体安装调整</option>
		 				<option value="">划手</option>
					</select>
		 		</div>
		 		<div class="col-xs-4" style="width:250px">
		 			<label>开始时间:</label>
		 			<input name="name" class="input-append date" readonly="true" id="startTime" size="10" />
		 		</div>
		 		<div class="col-xs-4" style="width:250px">
		 			<label>结束时间:</label>
		 			<input name="name" class="input-append date" readonly="true" id="endTime" size="10" />
		 		</div>	
		 		 
		 		<div class="col-xs-2" style="width:100px">
		 			<button type="submit" class="btn btn-primary"   name="btnQuery" id="btnQuery"  >查询</button> 
		 		</div>
		 	</div>
		 </div>
			<div id="tbdata" style="width:100%;overflow: scroll">
			<table class="table table-bordered table-striped" style="width:3000px">
				<thead>
					<tr>
						<th style="width:30px"></th>
						<th style="width:280px">维修任务</th>
						<th style="width:100px">客户姓名</th>
						<th style="width:100px">联系方式</th>
						<th style="width:280px">地址</th>
						<th style="width:100px">维修归类</th>
						<th style="width:120px">维修项</th>
						<th style="width:200px">维修内容</th>
						<th style="width:100px">物业管家</th>
						<th style="width:100px">接单人</th>
						<th style="width:100px">区域负责人</th>
						<th style="width:100px">回访人</th>
						<th style="width:200px">工程单位</th>
						<th style="width:100px">备料员</th>
						<th style="width:150px">预约进场时间</th>
						<th style="width:150px">实际进场时间</th>
						<th style="width:150px" >要求完成时间</th>
						<th style="width:150px">实际完成时间</th>
						<th style="width:100px">时长</th>
						<th style="width:100px">是否超期</th>
						<th style="width:100px">状态</th>
						<th style="width:100px">备注</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox"/></td>
						<td style="width:80px">林肯公园一区8号楼1单元301漏水	</td>
						<td style="width:80px">王学理</td>
						<td style="width:80px">18611298765</td>
						<td style="width:80px">林肯公园一区8号楼1单元301</td>
						<td style="width:80px">空调</td>
						<td style="width:80px">空调改造</td>
						<td style="width:80px">空调坏了，需要改造</td>
						<td style="width:80px">李晚芳</td>
						<td>王成换</td>
						<td>马志双 </td>
						<td>周式盛</td>
						<td>板桥施工一分队 </td>
						<td>刘若通</td>
						<td>2015-12-12 09：00</td>
						<td>2015-12-12 09：00</td>
						<td>2015-12-16 17：00</td>
						<td>2015-12-16 17：00</td>
						<td>3</td>
						<td>否</td>
						<td>完成</td>
						<td>无</td>
					</tr>
					<tr>
						<td><input type="checkbox"/></td>
						<td style="width:80px">君安国际301木饰面划伤</td>
						<td style="width:80px">王学理</td>
						<td style="width:80px">18611298765</td>
						<td style="width:80px">林肯公园一区8号楼1单元301</td>
						<td style="width:80px">壁纸</td>
						<td style="width:80px">维修空调回复</td>
						<td style="width:80px">空调维修空调回复</td>
						<td style="width:80px">王志明</td>
						<td>王成换</td>
						<td>马志双 </td>
						<td>周式盛</td>
						<td>板桥施工一分队 </td>
						<td>刘若通</td>
						<td>2015-12-17 09：00</td>
						<td>2015-12-18 09：00</td>
						<td>2015-12-17 17：00</td>
						<td>2015-12-18 17：00</td>
						<td>3</td>
						<td>否</td>
						<td>完成</td>
						<td>无</td>
					</tr>
					<tr>
						<td><input type="checkbox"/></td>
						<td style="width:80px">林肯公园一区8号楼1单元301漏水	</td>
						<td style="width:80px">王学理</td>
						<td style="width:80px">18611298765</td>
						<td style="width:80px">林肯公园一区8号楼1单元301</td>
						<td style="width:80px">石材</td>
						<td style="width:80px">石材开裂</td>
						<td style="width:80px">石材开裂</td>
						<td style="width:80px">李晚芳</td>
						<td>王成换</td>
						<td>马志双 </td>
						<td>周式盛</td>
						<td>板桥施工一分队 </td>
						<td>刘若通</td>
						<td>2015-12-12 09：00</td>
						<td>2015-12-12 09：00</td>
						<td>2015-12-16 17：00</td>
						<td>2015-12-16 17：00</td>
						<td>3</td>
						<td>否</td>
						<td>完成</td>
						<td>无</td>
					</tr>
					<tr>
						<td><input type="checkbox"/></td>
						<td style="width:80px">林肯公园二区4号楼1单元501瓷砖</td>
						<td style="width:80px">王学理</td>
						<td style="width:80px">18611298765</td>
						<td style="width:80px">林肯公园一区8号楼1单元301</td>
						<td style="width:80px">木地板</td>
						<td style="width:80px">起鼓</td>
						<td style="width:80px">起鼓</td>
						<td style="width:80px">王志明</td>
						<td>王成换</td>
						<td>马志双 </td>
						<td>周式盛</td>
						<td>板桥施工一分队 </td>
						<td>刘若通</td>
						<td>2015-12-17 09：00</td>
						<td>2015-12-18 09：00</td>
						<td>2015-12-17 17：00</td>
						<td>2015-12-18 17：00</td>
						<td>3</td>
						<td>否</td>
						<td>完成</td>
						<td>无</td>
					</tr>
				</tbody>
			</table>
			<div>
				<div style="border:1px solid #fffff">
					 <nav id="tslCommon-Page"  style="float:right">
			  			<input type="hidden" name="currentPageNum" value="1"/>
			  			<input type="hidden" name="totalPageCnt" th:value="5"/>
			  			<input type="hidden" name="totalRecord" th:value="50"/>
					</nav>
				</div> 
				<div style="float: left; margin-right: 15px;">
					<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="showAddModal('A')">添加</button>
						<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="showAddModal('A')">修改</button>
						<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="confirmDelete()">删除</button>
						<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="javascript:alert('已经成功催单!')">催单</button>
						<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="showProcessLog()">流程图/日志</button>
						<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="showMaterial()">材料</button>
				</div>
			</div>
		</div>
	</form>
	</div>
<script th:inline="javascript">
        /*<![CDATA[*/
            $('#startTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false,
                minView:2
            });
        
            $('#endTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            $('#serviceDate').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            
        /*]]>*/
    </script>
    
    <div class="modal fade" id="inputDialog" tabindex="-1" role="dialog"  aria-labelledby="inputDialogLabel" aria-hidden="true">
		  	
		   <div class="modal-dialog">
		      <div class="modal-content" style="width:800px">
		         <div class="modal-header">
		            <button type="button" class="close" 
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="inputDialoglLabel">添加/修改维修项</h4> 
		         </div>
		         <div class="modal-body" id='dvmodal-body' style="height:400px;overflow: scroll;"></div>
		         <div style="text-align:center;height:60px">
		            <button type="button" onclick="save();" id="submit"     class="btn btn-danger fl btn-lg" style="border-radius:0px;width:128px;height:34px;line-height:10px;"> 确定 </button>
		             <button type="button" data-dismiss="modal"
								class="btn btn-lg btn-blue" style="border-radius:0px;width:128px;height:34px;margin-left:25px;line-height:10px;">取消</button>
		         
		         </div>
		      </div>
			</div>
		</div>

</body>
</html>