<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>用户管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/app/css/bootstrap-datetimepicker.css}" />

<script th:src="@{/app/js/vendor/jquery-1.11.1.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap.min.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonSort.js}"></script>
<script th:inline="javascript" th:src="@{/app/js/commonPage.js}"></script>
<script th:src="@{/app/js/vendor/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/app/validation/jquery.validate.min.js}"></script>
<script th:src="@{/app/js/public.js}"></script>

<script type="text/javascript">
 	function query(){
 		var path = basePath+"/stat/albumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path).submit();
 	}
 	
 	function resetAction(){
 		var path = basePath+"/stat/albumAndMusicWithCouponStat";  
		$('#orderByForm').attr("action", path);
 	}
 	
 	function confirmDelete(){
 		var r=confirm("确定要删除该条记录吗？")
 		   
 	}
 	
 	function showAddModal(flag){ 
		var len=$('input:checked').length;
		$("#dvmodal-body").html("").load(basePath+"/server/sysuserAddInit.html?rn="+Math.random(), function() {
				$('#inputDialog').modal('show'); 
		});
	}
</script>
</head>
<body>
	<div class="container-fluid">
		<form id="orderByForm"   method="post">
			<input type="hidden" id="orderByStr" name="orderByStr"   th:value="${orderBy}"/>
			<div class="row" id="qry" style="margin-right:15px;">
		 	<div  class="col-xs-12" style="padding:10px;border:solid 1px #cccccc;margin:15px 15px;padding:10px 10px">
		 		<div class="col-xs-4" style="width:250px">
		 		<label>姓名:</label>
		 		<input name="name" class="input-append date" id="mobileNo"    />
		 		</div>	
		 		<div class="col-xs-4" style="width:250px">
		 		<label>联系方式:</label>
		 		<input name="name" class="input-append date" id="mobileNo"    />
		 		</div>
		 		<div class="col-xs-4" style="width:250px">
		 		<label>角色:</label>
		 		 <select name="storeId" style="height: 50px; width: 120px">
							<option value="">全部</option>
							<option>物业管家</option>
							<option>区域负责人</option>
							<option>维修负责人</option>
							<option>维修工人</option>
							<option>调度人员</option>
							<option>维保部经理</option>
							<option>备料员</option>
							<option>公司领导</option>
						</select>
					</div>
		 		<div class="col-xs-2" style="width:100px">
		 			<button type="submit" class="btn btn-primary"   name="btnQuery" id="btnQuery"  >查询</button> 
		 		</div>
		 	</div>
		 </div>
			<div id="tbdata" style="width:100%;overflow: scroll">
			<table class="table table-bordered table-striped" style="width:2000px">
				<thead>
					<tr>
						<th style="width:30px"></th>
						<th>姓名</th>
						<th>员工编号</th>
						<th>身份证号</th>
						<th>出生年月</th>
						<th>联系方式</th>
						<th>籍贯</th>
						<th>学历</th>
						<th>住址</th>
						<th>部门</th>
						<th>直接领导</th>
						<th>角色</th>
						<th>照片</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td  style="width:30px"><input type="checkbox" /></td>
						<td>罗玉光</td>
						<td>1235</td>
						<td>370811198612162387</td>
						<td>1986-12-16</td>
						<td>18611287867</td>
						<td>山东</td>
						<td>本科</td>
						<td>北京市朝阳区望京小区</td>
						<td>维保部</td>
						<td>杨申华</td>
						<td>物业管家</td>
						<td>查看</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>杨申华</td>
						<td>3452</td>
						<td>371111197612162387</td>
						<td>1976-12-16</td>
						<td>13878378767</td>
						<td>北京</td>
						<td>大专</td>
						<td>北京市朝阳区天通苑</td>
						<td>维保部</td>
						<td>维修工人</td>
						<td>查看</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>刘正义</td>
						<td>1285</td>
						<td>39811198612456790</td>
						<td>1982-11-12</td>
						<td>15529867378</td>
						<td>河北</td>
						<td>本科</td>
						<td>北京市顺义区双星小区</td>
						<td>维保部</td>
						<td>杨申华</td>
						<td>区域负责人</td>
						<td>查看</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>程良富</td>
						<td>1875</td>
						<td>370811198612162334</td>
						<td>1986-12-16</td>
						<td>18611287867</td>
						<td>山东</td>
						<td>本科</td>
						<td>北京市朝阳区望京小区</td>
						<td>维保部</td>
						<td>杨申华</td>
						<td>调度人员</td>
						<td>查看</td>
					</tr>
					<tr>
						<td><input type="checkbox" /></td>
						<td>李田付</td>
						<td>1235</td>
						<td>370811198612162398</td>
						<td>1986-12-16</td>
						<td>18611287867</td>
						<td>山东</td>
						<td>本科</td>
						<td>北京市朝阳区望京小区</td>
						<td>维保部</td>
						<td>杨申华</td>
						<td>物业管家</td>
						<td>查看</td>
					</tr>
				</tbody>
			</table>
			<div>
				<div style="border:1px solid #fffff">
					 <nav id="tslCommon-Page"  style="float:right">
			  			<input type="hidden" name="currentPageNum" value="1"/>
			  			<input type="hidden" name="totalPageCnt" th:value="5"/>
			  			<input type="hidden" name="totalRecord" th:value="50"/>
					</nav>
				</div> 
				<div style="float: left; margin-right: 15px;">
					<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="showAddModal('A')">添加</button>
						<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="showAddModal('A')">修改</button>
						<button type="button" name="btnQuery" id="btnQuery"  class="btn btn-info"   
						onclick="confirmDelete()">删除</button>
				</div>
			</div>
		</div>
	</form>
	
	<div class="modal fade" id="inputDialog" tabindex="-1" role="dialog"  aria-labelledby="inputDialogLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content" style="width:800px">
		         <div class="modal-header">
		            <button type="button" class="close" 
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="inputDialoglLabel">添加/修改用户信息</h4> 
		         </div>
		         <div class="modal-body" id='dvmodal-body'></div>
		         <div style="text-align:center;height:60px">
		            <button type="button" id="submit"  onclick="save()"  class="btn btn-danger fl btn-lg" style="border-radius:0px;width:128px;height:34px;line-height:10px;"> 确定 </button>
		             <button type="button" data-dismiss="modal"
								class="btn btn-lg btn-blue" style="border-radius:0px;width:128px;height:34px;margin-left:25px;line-height:10px;">取消</button>
		         
		         </div>
		      </div>
			</div>
		</div>
		
	</div>
<script th:inline="javascript">
        /*<![CDATA[*/
            $('#startTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false,
                minView:2
            });
        
            $('#endTime').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            $('#serviceDate').datetimepicker({
                autoclose:true,
                todayHighlight:true,
                format: 'yyyy-mm-dd',
                pickDate: true,  
                pickTime: false ,
                minView:2
            });
            
            
        /*]]>*/
    </script>

</body>
</html>